@{ Layout = null;}

<table class="striped responsive-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Subtotal</th>
        <th>Desconto</th>
        <th>Total</th>
        <th>
            <!--novo-->
            <a class="btn-floating waves-effect waves-light red tooltipped" style="float: right" data-position="left" data-delay="50"
               data-tooltip="Cadastrar venda">
                <i class="material-icons">add_shopping_cart</i>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>02/01/2018</td>
        <td>R$ 20,00</td>
        <td>R$ 5,00</td>
        <td>R$ 15,00</td>
        <td style="display: flex">
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">mode_edit</i>
            </a>
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">delete</i>
            </a>
            <!--detalhes-->
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">info</i>
            </a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>03/01/2018</td>
        <td>R$ 10,00</td>
        <td>R$ 2,00</td>
        <td>R$ 8,00</td>
        <td style="display: flex">
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">mode_edit</i>
            </a>
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">delete</i>
            </a>
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">info</i>
            </a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>04/01/2018</td>
        <td>R$ 150,00</td>
        <td>R$ 0,00</td>
        <td>R$ 0,00</td>
        <td style="display: flex">
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">mode_edit</i>
            </a>
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">delete</i>
            </a>
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">info</i>
            </a>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>05/01/2018</td>
        <td>R$ 230,00</td>
        <td>R$ 32,00</td>
        <td>R$ 198,00</td>
        <td style="display: flex">
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">mode_edit</i>
            </a>
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">delete</i>
            </a>
            <a class="btn-floating waves-effect waves-light red">
                <i class="material-icons">info</i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
