<link type="text/css" rel="stylesheet" src="~/Lib/Css/index.css" />

<form action="@Url.Action("Index")" method="post">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-content">
                <div class="row center">
                    <h1>Login</h1>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="txtLogin" type="text">
                        <label for="txtLogin">Login</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="txtSenha" type="password">
                        <label for="txtSenha">Senha</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

</script>
