@{ Layout = null;}
@using System.Web.Mvc.Html


<div id="modalEdicaoProduto"></div>
<div id="modalDeletaProduto"></div>
<div id="modalDetalharProduto"></div>
@Html.Partial("../Produto/CadastraProduto")

<table class="striped" id="gridProdutos">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Valor R$</th>
            <th>Estoque</th>
            <th>
                <a class="btn-floating waves-effect waves-light red tooltipped modal-trigger" style="float: right" data-position="left"
                   data-delay="50" data-tooltip="Novo" href="#modalCadastroProduto">
                    <i class="material-icons">add_circle</i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody style="display: none"></tbody>
</table>
