@{ Layout = null;}

<div id="modalCadastroProduto" class="modal">
    <div class="modal-content">
        <h4 class="bold">Cadastro de produto</h4>
        <div class="row">
            <form class="col s12" action="@Url.Action("Salvar")">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="txtNomeProduto">Nome</label>
                        <input id="txtNomeProduto" name="Nome" type="text">
                    </div>
                    <div class="input-field col s6">
                        <label for="txtEstoque">Cpf</label>
                        <input type="number" id="txtEstoque">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-light btn" href="#!" type="submit">
            <i class="material-icons left">send</i>Cadastrar
        </a>
    </div>
</div>

