@{ Layout = null;}

<div id="modalCadastroProduto" class="modal">
    <div class="modal-content">
        <h4 class="bold">Cadastro de produto</h4>
        <div class="row">
           @Ajax.BeginForm("Salvar","Produto",new AjaxOptions
           {
               HttpMethod = "POST",
               OnSuccess = "RecarregaGrid(data)",
               OnFailure = "Error(xhr)"
           }){ 
                <div class="row">
                    <div class="input-field col s6">
                        <label for="txtNomeProduto">Nome</label>
                        <input id="txtNomeProduto" name="Nome" type="text">
                    </div>
                    <div class="input-field col s6">
                        <label for="txtEstoque">Cpf</label>
                        <input id="txtEstoque" name="Estoque" type="number">
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-light btn" href="#!" type="submit">
            <i class="material-icons left">send</i>Cadastrar
        </a>
    </div>
</div>

<script>

    function RecarregaGrid(data) {
        //Exibindo um feedback de sucesso
        Materialize.Toast(data, 1000);

        //Fazendo a requisição no método que lista os produtos
        $.get('@Url.Action("Listar")').success(function(data) {
            $("#gridProdutos tbody").html(data).slideDown("fast");
        }).error(function(xhr) {
            Materialize.toast(xhr.responseText, 4000);
        });
    }

    function Error(xhr) {
        Materialize.toast(xhr.responseText, 5000);
    }

    $('.modal').modal();

</script>
