@{ Layout = null;}
@model ProjetoCursoFeriasSMN.Web.Application.Model.Produto

<div id="modalDetalhesProduto" class="modal">
    <div class="modal-content">
        <h4 class="bold">@Model.Nome</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <label for="txtIdProduto">Código do produto</label>
                        <input id="txtIdProduto" name="Id" type="text" disabled value="@Model.CodigoProduto">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="txtNomeProduto">Nome</label>
                        <input id="txtNomeProduto" name="Nome" type="text" value="@Model.Nome" readonly> 
                    </div>
                    <div class="input-field col s6">
                        <label for="txtEstoque">Cpf</label>
                        <input type="number" name="estoque" id="txtEstoque" value="@Model.Estoque" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
