@{ Layout = null;}

<div id="modalCadastroDeVenda"></div>
<div id="modalDeletaVenda"></div>

<table class="striped responsive-table" id="gridVendas">
    <thead>
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Subtotal</th>
        <th>Desconto</th>
        <th>Total</th>
        <th>
            <!--novo-->
            <a class="btn-floating waves-effect waves-light red tooltipped" style="float: right" data-position="left" data-delay="50"
               data-tooltip="Cadastrar venda" id="modalVenda">
                <i class="material-icons">add_shopping_cart</i>
            </a>
        </th>
    </tr>
    </thead>
    <tbody style="display: none"></tbody>
</table>

<script>

    //Trazendo o grid de vendas

    $("#modalVenda").click(function() {
        $.get('@Url.Action("Cadastrar","Venda")')
            .done(function(data) {
                $("#modalCadastroDeVenda").html(data);
                $("#modalCadastraVenda").modal("open");
            })
            .fail(function (xhr) {
                Materialize.toast(xhr.responseText, 5000);
            });
    });

</script>