@{ Layout = null;}

<!--Div's onde serão carregadas as modals(formulários)-->
<div id="modalDeletarCliente"></div>
<div id="modalEditarCliente"></div>
<div id="modalDetalharCliente"></div>
@Html.Partial("../Cliente/CadastraCliente")

<table id="gridClientes">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>
                <!--novo-->
                <a class="btn-floating waves-effect waves-light red tooltipped modal-trigger" style="float: right" data-position="left"
                   data-delay="50" data-tooltip="Novo" href="#modalCadastroCliente">
                    <i class="material-icons">person_add</i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody style="display: none"></tbody>
</table>
