@{ Layout = null;}
@model ProjetoCursoFeriasSMN.Web.Application.Model.Venda

<div id="modalCadastraVenda" class="modal">
    <div class="modal-content">
        @using (Ajax.BeginForm("CadastrarConfirma", "Venda", new AjaxOptions
        {
        HttpMethod = "Get",
        OnSuccess = "RecarregaGrid(data)",
        OnFailure = "Error(xhr)"
        }))
        {
        <div class="row">
            <!--Selectlist de clientes-->
            <div class="input-field col s6">
                @Html.DropDownList("listaClientes", Model.Clientes, "Cliente:")
            </div>
            <div class="input-field col s6">
                <!--selectlist de produtos-->
                @Html.DropDownList("listaProdutos", Model.Produtos, "Produto:")
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="txtQuantidade">Quantidade:</label>
                <input id="txtQuantidade" name="Nome" type="number">
            </div>
            <div class="input-field col s6">
                <input name="groupEntrega" type="radio" id="opcEntrega" />
                <label for="opcEntrega">Red</label>

                <input name="groupEntrega" type="radio" id="opcCadastra" />
                <label for="opcCadastra">Yellow</label>
            </div>
        </div>
        @Html.Partial("../Cliente/CadastraEndereco")
        }
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-light btn" href="#!" type="submit">
            <i class="material-icons left">send</i>Cadastrar
        </a>
    </div>
</div>

<script>

    $(".modal").modal();
    $("select").material_select();

</script>